.dashboard-container {
    
    height: 100%;
    width: 900px;
    padding: 120px;
    background-image: url('../../public/image/dashboard.jpg');
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
  }
  
  
   .dashboard-container h1 {
    color: #d09090;  
    font-size: 70px;
    text-align: start;
    position: relative;
    left:10px;
    top: 100px;
  }

  .continue-button {
    position: relative;
    left: 500px;
    top: 140px;
    font-size: 20px;
         .continue-button  {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #99564b;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 24px 65px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }
    
    button:active {
        transform: scale(0.95);
    }
    
    button:focus {
        outline: none;
    }
    
    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }
  }
  
  .dashboard-content {
    font-size: 1rem;
    color: #f7f7f7;
  }