:root {
  --primary-color: #6366f1;
  --border-color: #edf2f9;
  --text-primary: #1e2022;
  --text-secondary: #77838f;
  --bg-hover: #f8f9fc;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.mainpage-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}